# from https://github.com/alexkaratarakis/gitattributes/blob/master/Common.gitattributes
* linguist-vendored
*.R linguist-vendored=false
*.Rmd linguist-vendored=false
*.csv text
*.md text
# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

# Basic .gitattributes for a R repo.
# Source files
# ============
*.Rdata     text
*.rdb       binary
*.rds       binary
*.Rd        text
*.Rdx       binary
*.Rmd		text
*.R  		text
